<header class="header js-header">
  <nav class="nav-menu js-navMenu">
    <button class="mobile-button-menu js-mobile-button">
      <span class="sr-only">{{header.menu}}</span>
      <svg
        aria-hidden="true"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        role="img"
      >
        <path d="M0 4h24v2H0zM0 11h14v2H0zM0 18h20v2H0z"></path>
      </svg>
    </button>
    <ul
      class="nav-menu__list nav-menu__list--hide nav-menu__list--deactivate-animation js-navMenuList"
    >
      <li>
        <a
          href="{{header.url-home}}"
          title="home - indexfix"
          class="link-logo mobile-hidden"
          target="_blank"
        >
          <svg
            class="logo"
            id="Capa_1"
            data-name="Capa 1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 341.56 101.61"
          >
            <defs>
              <clipPath id="clip-path" transform="translate(-118.31 -103.17)">
                <rect
                  class="cls-1"
                  x="118.31"
                  y="103.17"
                  width="341.56"
                  height="101.61"
                ></rect>
              </clipPath>
              <clipPath id="clip-path-2" transform="translate(-118.31 -103.17)">
                <rect
                  class="cls-1"
                  x="112.92"
                  y="102.24"
                  width="352.34"
                  height="103.48"
                ></rect>
              </clipPath>
            </defs>
            <g id="LOGO_azul_CMKY" data-name="LOGO azul CMKY">
              <g class="cls-2">
                <g class="cls-3">
                  <path
                    class="cls-4"
                    d="M449.84,114.57h1.28v-3.52h1.37l2.32,3.52h1.27L453.69,111a2.22,2.22,0,0,0,2.25-2.31c0-1.67-1-2.46-2.85-2.46h-3.25Zm1.28-4.68v-2.55h1.73c.89,0,1.82.14,1.82,1.24,0,1.26-1,1.31-2.18,1.31Zm-5.59.45a7.17,7.17,0,1,0,7.17-7.17,7.16,7.16,0,0,0-7.17,7.17m7.17,6a6,6,0,1,1,5.89-6,5.93,5.93,0,0,1-5.89,6"
                    transform="translate(-118.31 -103.17)"
                  ></path>
                  <rect
                    class="cls-4"
                    y="40.77"
                    width="29.91"
                    height="7.2"
                  ></rect>
                  <rect
                    class="cls-4"
                    y="52.74"
                    width="29.92"
                    height="7.2"
                  ></rect>
                  <rect
                    class="cls-4"
                    y="64.71"
                    width="29.92"
                    height="7.29"
                  ></rect>
                  <rect class="cls-4" width="29.92" height="36"></rect>
                  <path
                    class="cls-4"
                    d="M300,139.17c0-22.46-18.14-36-39.09-36H233.23v72h27.82c20.87,0,39-13.71,39-36m-24.7,0a16.59,16.59,0,0,1-16.59,16.59c-.27,0-.54,0-.81,0V122.58l.81,0a16.59,16.59,0,0,1,16.59,16.59"
                    transform="translate(-118.31 -103.17)"
                  ></path>
                  <path
                    class="cls-4"
                    d="M180.4,175.17V135.94c5.64,2.91,17.51,14.85,20.75,19.84v19.39h24.6v-72h-24.6v19.39c-3.93-4.74-19.46-16.92-25-19.39H155.7v72Z"
                    transform="translate(-118.31 -103.17)"
                  ></path>
                  <path
                    class="cls-4"
                    d="M421.13,136c2.18-2.49,18-17,21.47-32.8H416.08a24.67,24.67,0,0,1-3.36,6.82,32.46,32.46,0,0,1-6.56,6.83A32.74,32.74,0,0,1,399.6,110a25,25,0,0,1-3.36-6.82H369.73c3.44,15.76,19.29,30.31,21.46,32.8A93.23,93.23,0,0,0,374,162.47a96.08,96.08,0,0,0-4.25,12.7h26.5a55.64,55.64,0,0,1,9.93-19.39,55.49,55.49,0,0,1,9.94,19.39h26.5a94.69,94.69,0,0,0-4.26-12.7A93,93,0,0,0,421.13,136"
                    transform="translate(-118.31 -103.17)"
                  ></path>
                  <polygon
                    class="cls-4"
                    points="213.91 52.6 213.91 43.77 228.93 43.77 228.93 28.23 213.91 28.23 213.91 19.39 243.94 19.39 243.94 0 189.22 0 189.22 72 243.94 72 243.94 52.6 213.91 52.6"
                  ></polygon>
                  <path
                    class="cls-4"
                    d="M140.09,204.57h2.73l-8.25-18.16H132l-8.23,18.16h2.68l2-4.54h9.65ZM129.35,198l3.92-8.9,3.92,8.9Zm39.57-11.55h-7.08v18.16h2.59v-5.5h4.49c4.72,0,7.57-2.38,7.57-6.33s-2.85-6.33-7.57-6.33m-.08,10.4h-4.41v-8.14h4.41c3.32,0,5.06,1.48,5.06,4.07s-1.74,4.07-5.06,4.07m18.73,5.5v-5.86h9.11v-2.21h-9.11v-5.57H197.8v-2.26H185v18.16h13.18v-2.26ZM222,204.57l-4.3-6.1a5.72,5.72,0,0,0,4-5.73c0-3.94-2.85-6.33-7.58-6.33H207v18.16h2.59v-5.52h4.49c.39,0,.78,0,1.15-.06l3.91,5.58Zm-8-7.73h-4.42v-8.17H214c3.32,0,5.06,1.48,5.06,4.07s-1.74,4.1-5.06,4.1m29.34-8.17v-2.26H230.56v18.16h2.6v-7.34h9.1V195h-9.1v-6.33Zm10.92,13.64v-5.86h9.11v-2.21H254.3v-5.57h10.22v-2.26H251.71v18.16h13.18v-2.26Zm27.5,2.47a9,9,0,0,0,6.93-2.85L287,200.29a6.74,6.74,0,0,1-5.11,2.18,7,7,0,1,1,0-14,6.75,6.75,0,0,1,5.11,2.15l1.69-1.63a9,9,0,0,0-6.9-2.83c-5.53,0-9.62,3.92-9.62,9.29s4.09,9.29,9.59,9.29m18.71-.21h2.57v-15.9h6.23v-2.26h-15v2.26h6.22Zm40.76-15.9v-2.26H328.45v18.16h2.6v-7.34h9.1V195h-9.1v-6.33Zm8.33,15.9h2.59V186.41H349.6Zm27.11,0-6.88-9.39,6.41-8.77h-2.82l-5,7-5.08-7h-3l6.41,8.85-6.83,9.31h3l5.37-7.5,5.45,7.5Zm7.13,0h2.6V186.41h-2.6Zm25.74-18.16V200l-10.89-13.54h-2.13v18.16h2.59V191l10.9,13.54h2.13V186.41Zm25.3,14.89a7.68,7.68,0,0,1-4.25,1.17,7,7,0,1,1,0-14,7.22,7.22,0,0,1,5.27,2.1l1.61-1.61a9.13,9.13,0,0,0-7-2.8c-5.63,0-9.73,3.92-9.73,9.29s4.1,9.29,9.67,9.29a10.74,10.74,0,0,0,6.88-2.31v-7.08h-2.49Z"
                    transform="translate(-118.31 -103.17)"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
        </a>
      </li>
      <li>
        <a href="#main-section" class="nav-menu__item">{{home}}</a>
        </li>
      <li>
        <a href="#features-section" class="nav-menu__item">{{features}}</a>
      </li>
      <li>
        <a href="#range-section" class="nav-menu__item">{{range}}</a>
      </li>
        <a href="#contact-section" class="nav-menu__item">{{contact}}</a>
      </li>
    </ul>
  </nav>
  <div class="separtator-logo separtator-logo--white js-separtator-logo">
    <a href="{{header.url-home}}" title="home - indexfix" class="link-logo">
      <svg
        class="logo"
        id="Capa_1"
        data-name="Capa 1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 341.56 101.61"
      >
        <defs>
          <clipPath id="clip-path" transform="translate(-118.31 -103.17)">
            <rect
              class="cls-1"
              x="118.31"
              y="103.17"
              width="341.56"
              height="101.61"
            ></rect>
          </clipPath>
          <clipPath id="clip-path-2" transform="translate(-118.31 -103.17)">
            <rect
              class="cls-1"
              x="112.92"
              y="102.24"
              width="352.34"
              height="103.48"
            ></rect>
          </clipPath>
        </defs>
        <g id="LOGO_azul_CMKY" data-name="LOGO azul CMKY">
          <g class="cls-2">
            <g class="cls-3">
              <path
                class="cls-4"
                d="M449.84,114.57h1.28v-3.52h1.37l2.32,3.52h1.27L453.69,111a2.22,2.22,0,0,0,2.25-2.31c0-1.67-1-2.46-2.85-2.46h-3.25Zm1.28-4.68v-2.55h1.73c.89,0,1.82.14,1.82,1.24,0,1.26-1,1.31-2.18,1.31Zm-5.59.45a7.17,7.17,0,1,0,7.17-7.17,7.16,7.16,0,0,0-7.17,7.17m7.17,6a6,6,0,1,1,5.89-6,5.93,5.93,0,0,1-5.89,6"
                transform="translate(-118.31 -103.17)"
              ></path>
              <rect class="cls-4" y="40.77" width="29.91" height="7.2"></rect>
              <rect class="cls-4" y="52.74" width="29.92" height="7.2"></rect>
              <rect class="cls-4" y="64.71" width="29.92" height="7.29"></rect>
              <rect class="cls-4" width="29.92" height="36"></rect>
              <path
                class="cls-4"
                d="M300,139.17c0-22.46-18.14-36-39.09-36H233.23v72h27.82c20.87,0,39-13.71,39-36m-24.7,0a16.59,16.59,0,0,1-16.59,16.59c-.27,0-.54,0-.81,0V122.58l.81,0a16.59,16.59,0,0,1,16.59,16.59"
                transform="translate(-118.31 -103.17)"
              ></path>
              <path
                class="cls-4"
                d="M180.4,175.17V135.94c5.64,2.91,17.51,14.85,20.75,19.84v19.39h24.6v-72h-24.6v19.39c-3.93-4.74-19.46-16.92-25-19.39H155.7v72Z"
                transform="translate(-118.31 -103.17)"
              ></path>
              <path
                class="cls-4"
                d="M421.13,136c2.18-2.49,18-17,21.47-32.8H416.08a24.67,24.67,0,0,1-3.36,6.82,32.46,32.46,0,0,1-6.56,6.83A32.74,32.74,0,0,1,399.6,110a25,25,0,0,1-3.36-6.82H369.73c3.44,15.76,19.29,30.31,21.46,32.8A93.23,93.23,0,0,0,374,162.47a96.08,96.08,0,0,0-4.25,12.7h26.5a55.64,55.64,0,0,1,9.93-19.39,55.49,55.49,0,0,1,9.94,19.39h26.5a94.69,94.69,0,0,0-4.26-12.7A93,93,0,0,0,421.13,136"
                transform="translate(-118.31 -103.17)"
              ></path>
              <polygon
                class="cls-4"
                points="213.91 52.6 213.91 43.77 228.93 43.77 228.93 28.23 213.91 28.23 213.91 19.39 243.94 19.39 243.94 0 189.22 0 189.22 72 243.94 72 243.94 52.6 213.91 52.6"
              ></polygon>
              <path
                class="cls-4"
                d="M140.09,204.57h2.73l-8.25-18.16H132l-8.23,18.16h2.68l2-4.54h9.65ZM129.35,198l3.92-8.9,3.92,8.9Zm39.57-11.55h-7.08v18.16h2.59v-5.5h4.49c4.72,0,7.57-2.38,7.57-6.33s-2.85-6.33-7.57-6.33m-.08,10.4h-4.41v-8.14h4.41c3.32,0,5.06,1.48,5.06,4.07s-1.74,4.07-5.06,4.07m18.73,5.5v-5.86h9.11v-2.21h-9.11v-5.57H197.8v-2.26H185v18.16h13.18v-2.26ZM222,204.57l-4.3-6.1a5.72,5.72,0,0,0,4-5.73c0-3.94-2.85-6.33-7.58-6.33H207v18.16h2.59v-5.52h4.49c.39,0,.78,0,1.15-.06l3.91,5.58Zm-8-7.73h-4.42v-8.17H214c3.32,0,5.06,1.48,5.06,4.07s-1.74,4.1-5.06,4.1m29.34-8.17v-2.26H230.56v18.16h2.6v-7.34h9.1V195h-9.1v-6.33Zm10.92,13.64v-5.86h9.11v-2.21H254.3v-5.57h10.22v-2.26H251.71v18.16h13.18v-2.26Zm27.5,2.47a9,9,0,0,0,6.93-2.85L287,200.29a6.74,6.74,0,0,1-5.11,2.18,7,7,0,1,1,0-14,6.75,6.75,0,0,1,5.11,2.15l1.69-1.63a9,9,0,0,0-6.9-2.83c-5.53,0-9.62,3.92-9.62,9.29s4.09,9.29,9.59,9.29m18.71-.21h2.57v-15.9h6.23v-2.26h-15v2.26h6.22Zm40.76-15.9v-2.26H328.45v18.16h2.6v-7.34h9.1V195h-9.1v-6.33Zm8.33,15.9h2.59V186.41H349.6Zm27.11,0-6.88-9.39,6.41-8.77h-2.82l-5,7-5.08-7h-3l6.41,8.85-6.83,9.31h3l5.37-7.5,5.45,7.5Zm7.13,0h2.6V186.41h-2.6Zm25.74-18.16V200l-10.89-13.54h-2.13v18.16h2.59V191l10.9,13.54h2.13V186.41Zm25.3,14.89a7.68,7.68,0,0,1-4.25,1.17,7,7,0,1,1,0-14,7.22,7.22,0,0,1,5.27,2.1l1.61-1.61a9.13,9.13,0,0,0-7-2.8c-5.63,0-9.73,3.92-9.73,9.29s4.1,9.29,9.67,9.29a10.74,10.74,0,0,0,6.88-2.31v-7.08h-2.49Z"
                transform="translate(-118.31 -103.17)"
              ></path>
            </g>
          </g>
        </g>
      </svg>
    </a>
  </div>
</header>