<a id="range-section"></a>
{{#with range-section}}
  <section class="section">
    <div class="container">
      <header class="section__header">
        <h2 class="section__title">
          {{{title}}}
        </h2>
      </header>
      <div class="swiper-container js-swiper-container-{{swiperCounter}}">
        <div
          class="index-cards-container js-index-cards-container--interactive"
        >
          {{#each range-menu as |type indexRangeMenu| }}
            <article
              class="index-card index-card--mini index-card--interactive  js-index-cards--interactive
              {{#ifFirstFirst indexRangeMenu @index}}
                index-card--interactive--active
              {{/ifFirstFirst}}
              "
              data-show-id="{{title}}"
            >
              <div class="index-card__container">
                <div class="index-card__body">
                  <picture class="index-card__image index-card__image--inline">
                    <source
                      class="index-card__image index-card__image--inline"
                      srcset="assets/images/{{image2x}}"
                      media="(min-width: 768px)"
                    />
                    <img
                      class="index-card__image index-card__image--inline"
                      src="assets/images/{{image}}"
                      alt="{{image-alt}}"
                    />
                  </picture>
                  <h2
                    class="index-card__title index-card__title--xl index-card__title--center mb-0 mt-1"
                  >
                    {{{title}}}
                  </h2>
                </div>
              </div>
            </article>
          {{/each}}
        </div>
      </div>
      <div class="row">
          {{#each range-cards as |type indexRangeCards|}}
          <article
              class="index-card index-card--full-width
              {{#ifFirstFirst indexRangeCards @index}}
                {{else}}
                index-card--hidden
              {{/ifFirstFirst}}"
              data-id="{{title}}"
            >
              <div class="index-card__container">
                <div class="index-card__body">
                  <div class="row">
                    <div class="col-12 filter-header">
                      <h2 class="index-card__title index-card__title--xxl">
                        {{{title}}}
                      </h2>
                      <ul class="filter-bar filter-bar--inline js-filterBar-{{@index}}" data-control=".js-filterCovering-{{@index}}">
                        {{#each ../filters}}
                          <li class="filter-bar__item filter-bar__item--mobile-hide">
                            <button class="filter-button" data-filter="{{title}}">
                              {{{image}}}
                              {{#if description}}<span class="filter-button__text">{{{description}}}</span>{{/if}}
                            </button>
                          </li>
                        {{/each}}
                      </ul>
                    </div>

                    <div class="col-12">
                      <div class="item-list__3-colums pb-3 index-card__description">
                        {{{description}}}
                      </div>
                      <div class="swiper-container js-swiper-container-{{swiperCounter}}">
                        <div class="index-cards-container js-filterCovering-{{@index}}">
                          {{#each secondary-cards}}
                            <a target="_blank" href="{{url}}" class="index-card index-card--mini index-card--links"
                            data-covering="{{filter}}"
                            >
                              <article class="index-card__container">
                                <div class="index-card__body pt-0">
                                  <picture>
                                    <source
                                      class="index-card__image index-card__image--inline"
                                      srcset="{{image2x}}"
                                      media="(min-width: 768px)"
                                    />
                                    <img
                                      alt="{{{image-alt}}}"
                                      class="index-card__image index-card__image--inline"
                                      src="{{image}}"
                                    />
                                  </picture>
                                  <h3 class="index-card__title index-card__title--black mb-0">
                                    {{{title}}}
                                  </h3>
                                  <p class="index-card__subtitle mb-0">{{description}}</p>
                                  <footer class="index-card__footer">
                                    <p
                                      class="index-card__link index-card__link--footer"
                                    >{{{../../more-info}}}<i
                                        class="fas fa-arrow-right index-card__link-icon"
                                      ></i></p>
                                  </footer>
                                </div>
                              </article>
                            </a>
                          {{/each}}
                        </div>
                      </div>
                      <h3 class="section__sub-title section__sub-title_description mb-4">
                        {{{../typical-applications}}}
                      </h3>
                      <div class="swiper-container js-swiper-container-{{swiperCounter}}">
                        <div class="row">
                          {{#each applications}}
                            <picture class="col-12 col-md-4 section__instalation-item">
                                <source
                                  class="img-fluid image-thumb"
                                  srcset="{{image2x}}"
                                  media="(min-width: 768px)"
                                />
                                <img
                                  alt="{{image-alt}}"
                                  class="img-fluid image-thumb"
                                  src="{{image}}"
                                />
                            </picture>
                          {{/each}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          {{/each}}
      </div>
    </div>
  </section>
{{/with}}